<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <ul class="contact-list">
      <li class="p-name">
        {%- if site.author -%}
        {{ site.author | escape }} – all rights reserved.
        {%- else -%}
        {{ site.title | escape }} – all rights reserved.
        {%- endif -%}
      </li>
      {%- if site.email -%}
      <li>{{ site.email }}</li>
      {%- endif -%}
    </ul>

    <div class="social">
      {%- include social.html -%}
    </div>
  </div>

  </div>

</footer>